<p>filtros works!</p>

<div class="bucar"> 
    <p>
        <input type="search" name="buscarPor">
        <input type="submit" value="Buscar">
    </p>
</div>
<div class="masFiltros">
        <div class="radio">
          <input id="radioButton" type="radio">
          <label id="labelradioButton"></label>
        </div>

        <div class="rangoInput">
            <label id="labelRangoInput"></label>
            <input id="input1labelRangoInput" type="number">
            <input id="input2labelRangoInput" type="number">
        </div>

        <div class="input">
            <label id="labelInput"></label>
            <input id="inputIput" type="number">            
        </div>
</div>

